@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-6xl font-bold
}

h2 {
  @apply text-3xl font-semibold
}

h3 {
  @apply text-2xl
}

.shine {
  @apply shadow-lg  shadow-sky-500/50
}

.button {
  @apply rounded py-2 px-4 bg-sky-600 hover:bg-sky-500 text-white shine transition-all
}

.link {
  @apply underline text-sky-500 hover:text-sky-400 font-semibold decoration-slate-500 decoration-2
}
.link-glow {
  text-shadow: 0 0 1rem #7DD3FC77
}

.text-glow {
  text-shadow: 0 0 1.5rem #e5e7eb77
}

.vital-glow {
  filter: drop-shadow(0 0 1rem #e5e7eb77)
}